@import url('https://fonts.googleapis.com/css2?family=Corben&family=Noto+Serif+JP:wght@500&family=Oswald&display=swap');

* {
  box-sizing: border-box;
  cursor: url("images/cursor.png") 25 55, auto;
  font-family: 'Noto Serif JP', serif;
  margin: 0%;
}

.body {
  background-color: #ECE3D4;
  margin: 0;
  display: flex;
}
#divRectangle {
  position: absolute;
  background-color: #ECE3D4;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.player,
.player2 {
  text-align: center;
  margin-top: -5%;
}

.btn-default {
  color: black;
  /* background-color: #fff; */
  border: 1.8px solid black;
}

.btn,
.btn2 {
  max-width: 100px;
  display: inline-block;
  padding: 6px 2px;
  margin-bottom: 0;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
}

.btn {
  width: 10%;
}

.btn2 {
  width: 20%;
  font-family: 'Corben', cursive;
  font-size: 100%;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;

}

.btn img {
  width: 120%;
}

.audioDemo {
  display: none;
}

.parallax {
  /* The image used */
  background-image: url("images/frame1.jpg");

  /* Full height */
  height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main Page  */
.head {
  background-color: #ECE3D4;
  margin-top: -30px;
}

.head2 {
  display: none;
  background-color: #ECE3D4;
  height: 300px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


.bgimg-1,
.bgimg-2,
.bgimg-3,
.totbgimg-1,
.totbgimg-2,
.totbgimg-3,
.totbgimg-4,
.casbgimg-1,
.casbgimg-2,
.casbgimg-3,
.casbgimg-4, 
.howbgimg-1,
.howbgimg-2,
.howbgimg-3,
.howbgimg-4{
  min-height: 800px;
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("images/frame1.jpg");
}

.bgimg-2 {
  background-image: url("images/frame2.jpg");
}

.bgimg-3 {
  background-image: url("images/frame3.jpg");
}

.bg4 {
  background-color: #ECE3D4;
  background-image: url("images/line-01.png");
  min-height: 450%;
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;

}

.caption span.border {
  background-color: #ECE3D4;
  color: black;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 3px;
  opacity: 1;
}

.blirb {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: #ECE3D4;
  padding: 50px 100px;
  text-align: left;
  align-items: center;
  font-size: 14px;
}

.para {
  max-width: 750px;
  align-self: center;
}
.para p{
  margin-bottom: 3%
}

.blirbtitle {
  color: #6D3A1D;
  text-align: center;
  font-size: 25px;
  font-family: 'Corben', cursive;
  margin-bottom: 1%;
}

.gif {
  float: right;
  width: 20%;
  margin-left: 140%;
  margin-top: -25%;
  padding-top: 0%;
  position: relative;
  z-index: 1;
}

.adjust {
  display: flex;
}

.timeline {
  /* border: 1px solid #000; */
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  width: 100%;
  object-fit: cover;
}

.right {
  /* border: 1px solid rgb(205, 71, 71); */
  display: flex;
  margin-top: 10%;
  margin-left: 5%;
  width: 35%;
}

.left {
  /* border: 1px solid rgb(32, 186, 14); */
  display: flex;
  width: 35%;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 8%;
}

.smol {
  width: 30%;

}

.imglink {
  width: 100%;
}

.smol.imglink {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.smol.imglink:hover {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.link {
  display: flex;
  padding: 0%;
  margin: 0%;
  width: 30%;
  /* border: 1px solid rgb(32, 186, 14); */
}

.headlink {
  width: 100%;
}

.right p,
.left p {
  font-size: 125%;
  padding-left: 8%;
  width: 40%;
  align-self: center;
  color: #6D3A1D;
  font-family: 'Corben', cursive;
}

/* Movie Pages */


.althead {
  height: 350px;
  display: block;
}

.player2 {
  margin: 0%;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 3%;
}

.large {
  height: 75vh;
  width: fit-content;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.blirb2 {
  display: flex;
  flex-direction: column;
  color: black;
  margin: 30% 0px;
  padding: 15px;
  text-align: left;
  align-items: center;
  width: 55%;
  align-self: center;
  font-size: large;
  background-color: #82C1ED;
}

.closeButton:before {
  width: 100px;
  height: 80px;
  content: "";
  position: absolute;
}

.closeButton {
  color: #000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 87px;
  height: 0;
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer;
  left: calc(2.44141% - 40px);
  display: block;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.hover {
  fill: #ECE3D4;
}

.line1 {
  transform: translate(-0.75 -0.39);
  fill: #1d1f23;
  fill-rule: evenodd;
}

.line2 {
  transform: translate(-0.75 -0.39);
  fill: #1d1f23;
  fill-rule: evenodd;
}

.cross {
  font-size: 22px;
  color: #000;
  cursor: pointer;
  box-sizing: border-box;
  pointer-events: none;
  width: 34px;
  height: 34px;
  position: absolute;
  top: -2px;
  left: 28px;
  display: block;
  transform: matrix(1, 0, 0, 1, 0, 0);
}


/* Totoro Specific */
.tothead {
  background-color: #82C1ED;
}

.tot {
  background-color: #82C1ED;
}

.totflex {
  display: flex;
  flex-direction: column;
  background: transparent;
}

.totbgimg-1 {
  background-image: url("images/totorobg1.webp");
}

.totbgimg-2 {
  background-image: url("images/totorobg2.jpg");
}

.totbgimg-3 {
  background-image: url("images/totorobg3.jpg");
}

.totbgimg-4 {
  background-image: url("images/totorobg4.jpg");
}

.small {
  width: 10%;
  position: absolute;
  margin-left: 70%;
  margin-top: 9%;
}

/* Castle Specific */
.cashead {
  background-color: #79A66D;
}

.cas {
  background-color: #79A66D;
}

.casflex {
  display: flex;
  flex-direction: column;
}

.casbgimg-1 {
  background-image: url("images/castlebg1.webp");
}

.casbgimg-2 {
  background-image: url("images/frame2.jpg");
}

.casbgimg-3 {
  background-image: url("images/castlebg3.jpg");
}

.casbgimg-4 {
  background-image: url("images/castlebg4.jpg");
}
.casbgimg-1 .large{
  height: 70vh;
  padding-top: 15%;
}

/* Howl's Specific */
.howhead {
  background-color: #FFC3AB;
}

.how {
  background-color: #FFC3AB;
}

.howflex {
  display: flex;
  flex-direction: column;
}
.howbgimg-1{
  background-image: url("images/howlsbg2.jpg");
}
.howbgimg-2{
  background-image: url("images/howlsbg3.jpg");
}
.howbgimg-3{
  background-image: url("images/howlsbg1.jpg");
}
.howbgimg-4{
  background-image: url("images/howlsbg4.webp");
}

@media only screen and (max-width: 600px) {
  .smol {
    max-height: 100%;
  }

  .right p,
  .left p {
    font-size: 120%;
    padding-left: 8%;
    width: 100%;
  }

  .right,
  .left {
    margin-left: 5%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 0%;
  }

  .bg4 {
    background-color: #ECE3D4;
    background-image: none
  }

  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .totbgimg-1,
  .totbgimg-2,
  .totbgimg-3,
  .totbgimg-4,
  .casbgimg-1,
  .casbgimg-2,
  .casbgimg-3,
  .casbgimg-4, 
  .howbgimg-1,
  .howbgimg-2,
  .howbgimg-3,
  .howbgimg-4 {
    background-size: auto;
  }

  .blirb {
    padding: 50px 50px;
    font-size: 75%;
  }

  .head {
    display: none;
  }

  .head2 {
    visibility: visible;
    display: flex;
    height: auto;
  }

  .audioDemo {
    visibility: visible;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
  }

  .gif {
    width: 30%;
    margin-left: -200%;
  }

  .link {
    width: 45%;
  }

  .right p,
  .left p {
    font-size: 95%;
  }

  /* Movie Pages */

  .althead {
    height: 100%;
  }

  .center2 {
    width: 70%;
  }

  .large {
    
    width: auto;
  }
  .totbgimg-1 .large{
    height: 60vh;
    padding-top: 60%;
  }
  .small{
    width: 20%;
    position: absolute;
    margin-left: 75%;
    margin-top: 9%;
  }

  .casbgimg-1 .large {
    height: 50vh;
    padding-top: 60%;
  }
  .howbgimg-1 .large{
    height: 55vh;
    padding-top: 60%;
  }
  .howbgimg-1{
    background-image: url("images/howlsbg1alt.jpg");
  }
  .howbgimg-3{
    background-image: url("images/howlsbg3alt.webp");
  }
  .blirb2 {
    margin-top: 60%;
    padding: 5%;
    width: 86%;
    font-size: small;
  }

  .closeButton:before {
    display: none;
  }

  .closeButton {
    display: none;
  }


}